<section class="detail-user">
	<header>
		<app-hero-search></app-hero-search>
	</header>


	<aside *ngIf="hero" class="left w-25">
		<figure class="avatar">
			<img src="{{hero.avatar_url}}" alt="" />
		</figure>

		<h2>{{hero.name}}</h2>

		<p>{{hero.login}}</p>

		<ul>
			<li>
				<i class="icons organization"></i> {{hero.company}}
			</li>
			<li>
				<i class="icons location"></i> {{hero.location}}
			</li>
			<li>
				<i class="icons star"></i> {{hero.star}}
			</li>
			<li>
				<i class="icons repositorie"></i> {{hero.public_repos}}
			</li>
			<li>
				<i class="icons followers"></i> {{hero.followers}}
			</li>
		</ul>
	</aside>


	<article *ngIf="hero" class="right w-70">
		<ul class="repo-list">
			<li>
				<h2 class="tit-raleway-purple">Death Star</h2>
				<p class="tit-raleway-black">The most powerful weapon in the universe.</p>
				<span class="tit-raleway-black">
					<i class="icons star"></i> 99999
				</span>
			</li>
		</ul>
	</article>
</section><!-- detail-user -->


<button (click)="goBack()">go back</button>