/*
 * Theme Name: Project Name
 * Author: Rodrigo Felipe - rodrigofpaiva@gmail.com
 * Version: 1.0
 * License: GNU General Public License
 * License URI: license.txt */

/*
 índice:
 - reset
 - fonts
 - cores
 - gerais
 - helpers
 - forms
 - titles
 - header
*/


// ======================================================================== reset ===
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
div, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, div, summary,
time, mark, audio, video
	margin 0
	padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align baseline

div, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, div
	display block

body
	line-height 1

ol, ul
	list-style none

blockquote, q
	quotes none

blockquote:before, blockquote:after,
q:before, q:after
	content ''
	content none

table
	border-collapse collapse
	border-spacing 0

a
	outline none

p
	line-height 1.5em

.clear
	clear both
	height 0px

*
	margin 0
	padding 0
	text-decoration none
	list-style none
	font-weight normal

section:after,
div:after
	content ""
	height 0
	display block
	clear both
	overflow hidden

*, *:before, *:after
	box-sizing border-box


// ======================================================================== fonts ===
$Monaco = 'Monaco'
$Raleway = 'Raleway'


// ======================================================================== cores ===
$purple = #ac53f2
$gray 	= #5c5c5c


// ======================================================================== gerais ===
html, body
	width 100%
	height 100%

body
	font-family Arial, Tahoma, sans-serif
	font-size 62.5%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

::-moz-selection
	background #29120d
	color #fff
	text-shadow none

::selection
	background #29120d
	color #fff
	text-shadow none

a:link
	-webkit-tap-highlight-color #29120d

textarea, input, select
	outline none

textarea
	resize none
	overflow auto

main
	max-width 2000px
	margin 0 auto
	overflow hidden
	position relative
	hyphens auto


// ======================================================================== helpers ===
font_mixin(font, weight, size, color)
	font-family font
	font-size size
	color color
	font-weight weight

sprite_extras()
	display block
	overflow hidden
	text-indent -9999em
	background-repeat no-repeat

.bg-none
	background none !important

.no-margin
	margin 0 !important

.no-padding
	padding 0 !important

.no-border
	border 0 !important

.clear
	clear both
	font-size 0
	height 0
	line-height 0

.left
	float left

.right
	float right

.center
	margin: 0 auto

.block
	display block

.none
	display none

.relative
	position relative

.absolute
	position absolute

.fixed
	position fixed

.sumir
	overflow hidden
	text-indent -9999em

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}
// ===== usage =====
// 	input
//		border 1px solid #000
//		+placeholder()
//			font_mixin(arial, 18px, #000)
// =================

.z-1
	z-index 1

.z-2
	z-index 2

.z-99
	z-index 99

.z-999
	z-index 999

.w-100
	width 100%

.w-95
	width 95%

.w-90
	width 90%

.w-85
	width 85%

.w-80
	width 80%

.w-75
	width 75%

.w-70
	width 70%

.w-65
	width 65%

.w-60
	width 60%

.w-55
	width 55%

.w-50
	width 50%

.w-45
	width 45%

.w-40
	width 40%

.w-35
	width 35%

.w-30
	width 30%

.w-25
	width 25%

.w-20
	width 20%

.w-15
	width 15%

.w-10
	width 10%

.bg-img-full
	width 100%
	height 100%
	background-repeat no-repeat
	background-position center center
	background-size cover

.hvr-opacity-6:hover
	opacity 0.6

.center-v-h
	display flex
	align-items center
	justify-content center


// ======================================================================== forms ===
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
select, textarea
	height 50px
	line-height 16px
	padding 13px 14px
	border 0
	background #fff
	box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
	font_mixin($raleway, 300, 1.4em, #888)

	&:focus
		outline none

textarea
	resize none
	overflow auto
	margin-bottom 30px
	height 170px


// ======================================================================== titles ===
.tit-monaco-black
	font-family $Monaco
	color #000

.tit-raleway-black
	font-family $Raleway
	color #000

.tit-raleway-purple
	font-family $Raleway
	color $purple


// ======================================================================== search ===
.container-search
	text-align center
	height 100%

	.aux
		& > div
			display flex

			button
				background-color $purple
				width 100px
				border-radius 0 2px 2px 0
				cursor pointer

	.tit-monaco-black
		font-size 6em
		font-weight 700
		line-height 80px

		em
			font-weight 200
			font-style italic


.search-result
	width 100%
	top 51px

	li
		border 1px solid #dedede
		border-top 0
		width 100%
		background-color #fff
		list-style-type none

		a
			display flex
			align-items center
			text-decoration none
			text-align left
			padding 5px
			height 32px
			font_mixin($raleway, 300, 1.4em, #888)

			&:hover
				background-color $gray
				color #fff


// ======================================================================== detail user ===
.detail-user
	width 95%
	margin 0 auto

	& > header
		margin-bottom 53px

		.container-search
			.aux
				width 100%
				display flex
				align-items center

				h1
					white-space nowrap
					margin-right 70px
					font-size 4em

				& > div
					width 100%


	& > aside
		background-color red


	// & > article
	// 	background-color blue

